<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" id="name" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input formControlName="imagePath" id="imagePath" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image">Description</label>
                        <textarea formControlName="description" id="description" type="text" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div 
                        style="margin-top: 10px"
                        class="row" 
                        *ngFor="let ingredientsCtrl of getControls(); let i = index" 
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input formControlName="name" type="text" class="form-control" >
                        </div>
                        <div class="col-xs-2">
                            <input formControlName="amount" type="number" class="form-control" >
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>